## World Development Indicators - Analytics

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

datos = pd.read_csv("suramerica.csv").drop('Unnamed: 0', 1)
datos.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Antigua and Barbuda,ATG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,126.144000
1,Antigua and Barbuda,ATG,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,88.237117
2,Antigua and Barbuda,ATG,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,7.779958
3,Antigua and Barbuda,ATG,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,80.457159
4,Antigua and Barbuda,ATG,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,1960,32.920000

In [2]:
paises = ['Antigua and Barbuda','Argentina','Aruba','Bahamas, The','Barbados','Belize','Bolivia','Brazil','Cayman Islands','Chile','Colombia','Costa Rica','Cuba','Curacao','Dominica','Dominican Republic','Ecuador','El Salvador','Grenada','Guatemala','Guyana','Haiti','Honduras','Jamaica','Mexico','Nicaragua','Panama','Paraguay','Peru','Puerto Rico','Sint Maarten (Dutch part)','St. Kitts and Nevis','St. Lucia','St. Martin (French part)','St. Vincent and the Grenadines','Suriname','Trinidad and Tobago','Turks and Caicos Islands','Uruguay','Venezuela, RB','Virgin Islands (U.S.)']
years = range(2008,2012+1)
look_back = 2

agricultura = ['EG.ELC.ACCS.RU.ZS','EG.NSF.ACCS.RU.ZS','AG.LND.IRIG.AG.ZS','AG.LND.AGRI.ZS','AG.LND.AGRI.K2','AG.AGR.TRAC.NO','AG.LND.TRAC.ZS','EN.ATM.METH.AG.ZS','EN.ATM.METH.AG.KT.CE','EN.ATM.NOXE.AG.ZS','EN.ATM.NOXE.AG.KT.CE','TX.VAL.AGRI.ZS.UN','TM.VAL.AGRI.ZS.UN','EA.PRD.AGRI.KD','NV.AGR.TOTL.ZS','NV.AGR.TOTL.CD','ER.H2O.FWAG.ZS','AG.LND.ARBL.ZS','AG.LND.ARBL.HA.PC','AG.LND.ARBL.HA','AG.LND.PRCP.MM','AG.PRD.CREL.MT','AG.YLD.CREL.KG','AG.PRD.CROP.XD','SL.AGR.EMPL.ZS','SL.AGR.EMPL.FE.ZS','SL.AGR.EMPL.MA.ZS','AG.CON.FERT.PT.ZS','AG.CON.FERT.ZS','AG.PRD.FOOD.XD','AG.LND.FRST.ZS','AG.LND.FRST.K2','SH.STA.ACSN.RU','SH.H2O.SAFE.RU.ZS','AG.LND.TOTL.K2','AG.LND.CREL.HA','AG.PRD.LVSK.XD','AG.LND.CROP.ZS','AG.LND.TOTL.RU.K2','AG.LND.EL5M.RU.ZS','AG.LND.EL5M.RU.K2','SP.RUR.TOTL','SP.RUR.TOTL.ZS','SP.RUR.TOTL.ZG','EN.POP.EL5M.RU.ZS','SI.POV.RUGP','SI.POV.RUHC','AG.SRF.TOTL.K2']
economia = ['PA.NUS.PPP.05','PA.NUS.PRVT.PP.05','NY.ADJ.NNTY.KD.ZG','NY.ADJ.NNTY.KD','NY.ADJ.NNTY.CD','NY.ADJ.NNTY.PC.KD.ZG','NY.ADJ.NNTY.PC.KD','NY.ADJ.NNTY.PC.CD','NY.ADJ.SVNX.GN.ZS','NY.ADJ.SVNX.CD','NY.ADJ.SVNG.GN.ZS','NY.ADJ.SVNG.CD','NY.ADJ.DCO2.GN.ZS','NY.ADJ.DCO2.CD','NY.ADJ.DKAP.GN.ZS','NY.ADJ.DKAP.CD','NY.ADJ.AEDU.GN.ZS','NY.ADJ.AEDU.CD','NY.ADJ.DNGY.GN.ZS','NY.ADJ.DNGY.CD','NY.ADJ.ICTR.GN.ZS','NY.ADJ.DMIN.GN.ZS','NY.ADJ.DMIN.CD','NY.ADJ.DRES.GN.ZS','NY.ADJ.DFOR.GN.ZS','NY.ADJ.DFOR.CD','NY.ADJ.NNAT.GN.ZS','NY.ADJ.NNAT.CD','NY.ADJ.DPEM.GN.ZS','NY.ADJ.DPEM.CD','NV.AGR.TOTL.ZS','NV.AGR.TOTL.KD.ZG','NV.AGR.TOTL.KD','NV.AGR.TOTL.KN','NV.AGR.TOTL.CN','NV.AGR.TOTL.CD','GC.DOD.TOTL.GD.ZS','NE.GDI.STKB.KN','NE.GDI.STKB.CN','NE.GDI.STKB.CD','BM.GSR.ROYL.CD','BX.GSR.ROYL.CD','NV.MNF.CHEM.ZS.UN','BX.GSR.CMCP.ZS','BM.GSR.CMCP.ZS','BN.CAB.XOKA.GD.ZS','BN.CAB.XOKA.CD','PA.NUS.ATLS','NY.GDP.DISC.KN','NY.GDP.DISC.CN','GC.XPN.TOTL.GD.ZS','NY.EXP.CAPM.KN','NE.EXP.GNFS.ZS','BX.GSR.GNFS.CD','NE.EXP.GNFS.KD.ZG','NE.EXP.GNFS.KD','NE.EXP.GNFS.KN','NE.EXP.GNFS.CN','NE.EXP.GNFS.CD','BX.GSR.TOTL.CD','NE.RSB.GNFS.ZS','NE.RSB.GNFS.KN','NE.RSB.GNFS.CN','NE.RSB.GNFS.CD','DT.DOD.DECT.GN.ZS','DT.DOD.DECT.EX.ZS','DT.DOD.DECT.CD','NE.CON.TOTL.KD','NE.CON.TOTL.KN','NE.CON.TOTL.CN','NE.CON.TOTL.CD','NE.CON.TETC.ZS','NE.CON.TETC.KD.ZG','NE.CON.TETC.KD','NE.CON.TETC.KN','NE.CON.TETC.CN','NE.CON.TETC.CD','NV.MNF.FBTO.ZS.UN','BN.KLT.DINV.CD','BX.KLT.DINV.WD.GD.ZS','BX.KLT.DINV.CD.WD','BM.KLT.DINV.WD.GD.ZS','BM.KLT.DINV.CD.WD','NY.GDP.MKTP.KN','NY.GDP.MKTP.CN','NY.GDP.MKTP.CD','NY.GDP.MKTP.KD','NY.GDP.DEFL.ZS','NY.GDP.MKTP.KD.ZG','NY.GDP.PCAP.KD','NY.GDP.PCAP.KN','NY.GDP.PCAP.CN','NY.GDP.PCAP.CD','NY.GDP.PCAP.KD.ZG','NY.GDP.PCAP.PP.KD','NY.GDP.PCAP.PP.CD','NY.GDP.MKTP.PP.KD','NY.GDP.MKTP.PP.CD','NY.GNP.MKTP.KD','NY.GNP.MKTP.KN','NY.GNP.MKTP.CN','NY.GNP.MKTP.CD','NY.GNP.MKTP.KD.ZG','NY.GNP.PCAP.KD','NY.GNP.PCAP.KN','NY.GNP.PCAP.CN','NY.GNP.PCAP.KD.ZG','NY.GNP.PCAP.CD','NY.GNP.PCAP.PP.KD','NY.GNP.PCAP.PP.CD','NY.GNP.ATLS.CD','NY.GNP.MKTP.PP.KD','NY.GNP.MKTP.PP.CD','NE.CON.GOVT.ZS','NE.CON.GOVT.KD.ZG','NE.CON.GOVT.KD','NE.CON.GOVT.KN','NE.CON.GOVT.CN','NE.CON.GOVT.CD','BX.GSR.MRCH.CD','BM.GSR.MRCH.CD','BX.GRT.EXTA.CD.WD','NE.GDI.TOTL.ZS','NE.GDI.TOTL.KD.ZG','NE.GDI.TOTL.KD','NE.GDI.TOTL.KN','NE.GDI.TOTL.CN','NE.GDI.TOTL.CD','NY.GDY.TOTL.KN','NY.GDS.TOTL.ZS','NY.GDS.TOTL.CN','NY.GDS.TOTL.CD','NE.GDI.FTOT.ZS','NE.GDI.FTOT.KD.ZG','NE.GDI.FTOT.KD','NE.GDI.FTOT.KN','NE.GDI.FTOT.CN','NE.GDI.FTOT.CD','NE.GDI.FPRV.ZS','NE.GDI.FPRV.CN','NE.DAB.TOTL.ZS','NE.DAB.TOTL.KD','NE.DAB.TOTL.KN','NE.DAB.TOTL.CN','NE.DAB.TOTL.CD','NE.DAB.DEFL.ZS','NY.GNS.ICTR.ZS','NY.GNS.ICTR.GN.ZS','NY.GNS.ICTR.CN','NY.GNS.ICTR.CD','NY.GDP.FCST.KD','NY.GDP.FCST.KN','NY.GDP.FCST.CN','NY.GDP.FCST.CD','NE.CON.PRVT.KD.ZG','NE.CON.PRVT.KD','NE.CON.PRVT.KN','NE.CON.PRVT.CN','NE.CON.PRVT.CD','NE.CON.PRVT.PC.KD','NE.CON.PRVT.PC.KD.ZG','NE.CON.PRVT.PP.KD','NE.CON.PRVT.PP.CD','NE.CON.PETC.ZS','NE.CON.PETC.KD.ZG','NE.CON.PETC.KD','NE.CON.PETC.KN','NE.CON.PETC.CN','NE.CON.PETC.CD','BX.GSR.CCIS.ZS','BX.GSR.CCIS.CD','NE.IMP.GNFS.ZS','BM.GSR.GNFS.CD','NE.IMP.GNFS.KD.ZG','NE.IMP.GNFS.KD','NE.IMP.GNFS.KN','NE.IMP.GNFS.CN','NE.IMP.GNFS.CD','BM.GSR.TOTL.CD','NV.IND.TOTL.ZS','NV.IND.TOTL.KD.ZG','NV.IND.TOTL.KD','NV.IND.TOTL.KN','NV.IND.TOTL.CN','NV.IND.TOTL.CD','NY.GDP.DEFL.KD.ZG','FP.CPI.TOTL.ZG','BX.GSR.INSF.ZS','BM.GSR.INSF.ZS','DT.INT.DECT.GN.ZS','DT.INT.DECT.EX.ZS','NV.MNF.MTRN.ZS.UN','NV.IND.MANF.ZS','NV.IND.MANF.KD.ZG','NV.IND.MANF.KD','NV.IND.MANF.KN','NV.IND.MANF.CN','NV.IND.MANF.CD','DT.ODA.ODAT.GN.ZS','DT.ODA.ODAT.PC.ZS','BN.TRF.KOGT.CD','NY.TRF.NCTR.KN','NY.TRF.NCTR.CN','NY.TRF.NCTR.CD','BN.KAC.EOMS.CD','BN.FIN.TOTL.CD','NY.GSR.NFCY.KN','NY.GSR.NFCY.CN','NY.GSR.NFCY.CD','DT.ODA.ODAT.CD','BN.GSR.FCTY.CD','BN.TRF.CURR.CD','NY.TAX.NIND.KN','NY.TAX.NIND.CN','NY.TAX.NIND.CD','BN.GSR.MRCH.CD','BN.GSR.GNFS.CD','NV.MNF.OTHR.ZS.UN','PA.NUS.PPP','PA.NUS.PRVT.PP','BM.TRF.PWKR.CD.DT','BX.TRF.PWKR.DT.GD.ZS','BX.TRF.PWKR.CD.DT','BX.TRF.PWKR.CD','BN.KLT.PTXL.CD','BX.PEF.TOTL.CD.WD','DT.DOD.PVLX.GN.ZS','DT.DOD.PVLX.EX.ZS','DT.DOD.PVLX.CD','PA.NUS.PPPC.RF','BX.KLT.DREM.CD.DT','BM.GSR.FCTY.CD','BX.GSR.FCTY.CD','BN.RES.INCL.CD','GC.REV.XGRT.GD.ZS','BX.TRF.CURR.CD','BM.TRF.PRVT.CD','BX.GSR.NFSV.CD','BM.GSR.NFSV.CD','NV.SRV.TETC.ZS','NV.SRV.TETC.KD.ZG','NV.SRV.TETC.KD','NV.SRV.TETC.KN','NV.SRV.TETC.CN','NV.SRV.TETC.CD','DT.DOD.DSTC.XP.ZS','DT.DOD.DSTC.IR.ZS','BX.GRT.TECH.CD.WD','NY.TTF.GNFS.KN','NV.MNF.TXTL.ZS.UN','DT.TDS.DECT.GN.ZS','DT.TDS.DECT.EX.ZS','FI.RES.TOTL.CD','FI.RES.XGLD.CD','NE.TRD.GNFS.ZS','BG.GSR.NFSV.GD.ZS','BX.GSR.TRAN.ZS','BM.GSR.TRAN.ZS','BX.GSR.TRVL.ZS','BM.GSR.TRVL.ZS']
educacion = ['SE.PRM.TENR.FE','SE.PRM.TENR.MA','SE.PRM.TENR','SE.SEC.UNER.LO.ZS','SE.SEC.UNER.LO.FE.ZS','SE.SEC.UNER.LO.MA.ZS','SE.ADT.LITR.ZS','SE.XPD.MPRM.ZS','SE.XPD.MSEC.ZS','SE.XPD.MTER.ZS','SE.XPD.MTOT.ZS','SE.PRM.UNER.ZS','SE.PRM.UNER.FE.ZS','SE.PRM.UNER.MA.ZS','SE.PRM.UNER.FE','SE.PRM.UNER.MA','SE.XPD.CPRM.ZS','SE.XPD.CSEC.ZS','SE.XPD.CTER.ZS','SE.XPD.CTOT.ZS','SE.COM.DURS','SE.TER.CUAT.DO.FE.ZS','SE.TER.CUAT.DO.MA.ZS','SE.TER.CUAT.DO.ZS','SE.TER.CUAT.BA.FE.ZS','SE.TER.CUAT.BA.MA.ZS','SE.TER.CUAT.BA.ZS','SE.TER.CUAT.MS.FE.ZS','SE.TER.CUAT.MS.MA.ZS','SE.TER.CUAT.MS.ZS','SE.SEC.CUAT.LO.FE.ZS','SE.SEC.CUAT.LO.MA.ZS','SE.SEC.CUAT.LO.ZS','SE.SEC.CUAT.PO.FE.ZS','SE.SEC.CUAT.PO.MA.ZS','SE.SEC.CUAT.PO.ZS','SE.PRM.CUAT.FE.ZS','SE.PRM.CUAT.MA.ZS','SE.PRM.CUAT.ZS','SE.TER.CUAT.ST.FE.ZS','SE.TER.CUAT.ST.MA.ZS','SE.TER.CUAT.ST.ZS','SE.SEC.CUAT.UP.FE.ZS','SE.SEC.CUAT.UP.MA.ZS','SE.SEC.CUAT.UP.ZS','SE.SEC.PROG.ZS','SM.EMI.TERT.ZS','SE.PRM.ENRL','SE.SEC.ENRL','SE.SEC.ENRL.GC','SE.SEC.ENRL.VO','SE.XPD.TOTL.GB.ZS','SE.XPD.PRIM.ZS','SE.XPD.SECO.ZS','SE.XPD.TERT.ZS','SE.XPD.TOTL.GD.ZS','SE.XPD.PRIM.PC.ZS','SE.XPD.SECO.PC.ZS','SE.XPD.TERT.PC.ZS','SE.PRM.ENRR','SE.PRE.ENRR','SE.PRE.ENRR.FE','SE.PRE.ENRR.MA','SE.SEC.ENRR','SE.TER.ENRR','SE.PRM.GINT.ZS','SE.PRM.GINT.FE.ZS','SE.PRM.GINT.MA.ZS','SL.TLF.PRIM.ZS','SL.TLF.PRIM.FE.ZS','SL.TLF.PRIM.MA.ZS','SL.TLF.SECO.ZS','SL.TLF.SECO.FE.ZS','SL.TLF.SECO.MA.ZS','SL.TLF.TERT.ZS','SL.TLF.TERT.FE.ZS','SL.TLF.TERT.MA.ZS','SL.TLF.TOTL.FE.ZS','SL.TLF.TOTL.IN','SE.ADT.LITR.FE.ZS','SE.ADT.LITR.MA.ZS','SE.ADT.1524.LT.FM.ZS','SE.ADT.1524.LT.FE.ZS','SE.ADT.1524.LT.MA.ZS','SE.SEC.CMPT.LO.FE.ZS','SE.SEC.CMPT.LO.MA.ZS','SE.SEC.CMPT.LO.ZS','SE.PRM.NENR','SE.SEC.NENR','SE.PRM.NINT.FE.ZS','SE.PRM.NINT.MA.ZS','SE.PRM.NINT.ZS','SE.SEC.AGES','SE.PRM.AGES','SE.PRM.UNER','SE.PRM.OENR.ZS','SE.PRM.OENR.FE.ZS','SE.PRM.OENR.MA.ZS','SE.PRM.PRIV.ZS','SE.SEC.PRIV.ZS','SE.PRM.TCAQ.FE.ZS','SE.SEC.TCAQ.FE.ZS','SE.PRM.TCAQ.MA.ZS','SE.SEC.TCAQ.MA.ZS','SE.PRM.REPT.ZS','SE.PRM.REPT.FE.ZS','SE.PRM.REPT.MA.ZS','SE.SEC.ENRL.GC.FE.ZS','SE.SEC.ENRL.VO.FE.ZS','SE.PRM.TCAQ.ZS','SE.SEC.TCAQ.ZS','SE.PRM.PRS5.FE.ZS','SE.PRM.PRS5.MA.ZS','SP.POP.0014.TO.ZS','SP.POP.1564.TO.ZS','SE.PRE.DURS','SE.PRM.CMPT.FE.ZS','SE.PRM.CMPT.MA.ZS','SE.PRM.CMPT.ZS','SE.PRM.ENRL.FE.ZS','SE.PRM.TCHR.FE.ZS','SE.SEC.PROG.FE.ZS','SE.SEC.PROG.MA.ZS','SE.PRE.ENRL.TC.ZS','SE.PRM.ENRL.TC.ZS','SE.SEC.ENRL.TC.ZS','SE.SEC.ENRL.LO.TC.ZS','SE.TER.ENRL.TC.ZS','SE.SEC.ENRL.UP.TC.ZS','SE.ENR.PRIM.FM.ZS','SE.ENR.PRSC.FM.ZS','SE.PRM.ENRR.FE','SE.PRM.NENR.FE','SE.PRM.ENRR.MA','SE.PRM.NENR.MA','SE.ENR.SECO.FM.ZS','SE.SEC.ENRR.FE','SE.SEC.NENR.FE','SE.SEC.ENRR.MA','SE.SEC.NENR.MA','SE.ENR.TERT.FM.ZS','SE.TER.ENRR.FE','SE.TER.ENRR.MA','SE.SEC.ENRL.FE.ZS','SE.SEC.TCHR.FE.ZS','SE.PRM.PRS5.ZS','SE.PRM.PRSL.ZS','SE.PRM.PRSL.FE.ZS','SE.PRM.PRSL.MA.ZS','SE.PRM.TCHR','SE.SEC.TCHR','SE.SEC.TCHR.FE','SE.TER.TCHR.FE.ZS','SE.PRM.DURS','SE.SEC.DURS','SE.SEC.TCAQ.LO.ZS','SE.SEC.TCAQ.LO.FE.ZS','SE.SEC.TCAQ.LO.MA.ZS','SE.PRE.TCAQ.ZS','SE.PRE.TCAQ.FE.ZS','SE.PRE.TCAQ.MA.ZS','SE.SEC.TCAQ.UP.ZS','SE.SEC.TCAQ.UP.FE.ZS','SE.SEC.TCAQ.UP.MA.ZS','SL.UEM.TOTL.FE.ZS','SL.UEM.TOTL.MA.ZS','SL.UEM.TOTL.ZS','SE.ADT.1524.LT.ZS']

conjunto_nombre = ['Agricultura','Economia','Educacion']
conjunto = [agricultura,economia,educacion]

In [3]:
def r2(y_true, y_predict):
    from sklearn.metrics import r2_score
    return r2_score(y_true, y_predict)

In [4]:
def imputador(tab):
    from sklearn.preprocessing import Imputer
    impute=Imputer(missing_values="NaN",strategy='mean',axis=0)
    impute.fit(tab)
    tab_imputada=impute.transform(tab)
    return pd.DataFrame(tab_imputada)

In [5]:
def zeros(tab):
    #Asignamos a los NaN el valor de 0
    tab_zeros = pd.DataFrame(tab).fillna(value=0)
    #Eliminamos las columnas de Zeros descartando Indicadores que no tienen regristros para ningún pais y año deseados
    tab_zeros_2 = tab_zeros.loc[:, (tab_zeros != 0).any(axis=0)]
    return tab_zeros_2

In [6]:
def Grid_Search_CV(X_train, y_train):
    from sklearn.grid_search import GridSearchCV
    from sklearn.cross_validation import ShuffleSplit
    from sklearn.metrics import make_scorer
    from sklearn.tree import DecisionTreeRegressor
    
    cv = ShuffleSplit(X_train.shape[0], n_iter = 10, test_size=0.2, random_state=0)
    estimator = DecisionTreeRegressor()
    params = {'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'splitter': ['best', 'random']}

    grid = GridSearchCV(estimator, params, cv=cv, scoring="r2")

    grid.fit(X_train, y_train)
    
    for k,v in grid.best_params_.iteritems():
        best_max_depth = v
    
    return best_max_depth

In [7]:
def DTR_v2(X_train, X_test, y_train, y_test, depth):
    
    from sklearn.tree import DecisionTreeRegressor
    estimator = DecisionTreeRegressor(max_depth=depth)
    estimator.fit(X_train,y_train)
    y_predict = estimator.predict(X_test)
    
    return r2(y_test,y_predict)

In [8]:
def correlation_matrix(df):
    from matplotlib import pyplot as plt
    from matplotlib import cm as cm

    fig = plt.figure()
    ax1 = fig.add_subplot(111)
    cmap = cm.get_cmap('jet', 30)
    cax = ax1.imshow(df.corr(), interpolation="nearest", cmap=cmap)
    plt.title('Matriz de correlacion')
    fig.colorbar(cax)
    
    return plt.show()

In [9]:
def correlacion(tab,y_indicator):
    # Buscamos los indicadores que se correlacionen más (coeficiente > 0.7)
    eliminar = []
    tabla_correlacion = np.array(pd.DataFrame(tab).corr())
    for i in range(np.shape(tab)[1]):
        if abs(tabla_correlacion[i,y_indicator]) > 0.7:
            eliminar.append(i)

    # Eliminamos los indicadores que se correlacionan más (Coeficiente > 0.7)
    temporal = tab[:,:]

    for i in range(len(eliminar)):
        temporal = np.delete(temporal[:,:], eliminar[i]-i, 1)

    return temporal

In [10]:
def splitter_v3(tabla_1,tabla_2,y_indicator):
    from sklearn.model_selection import train_test_split
    #Fusionamos la tabla_1 y el indicador y de la tabla_2
    tab_fusion = np.column_stack((tabla_1[:,:],tabla_2[:,y_indicator]))
    
    # Asignamos X e y, eliminando los indicadores que se correlacionen más (coeficiente > 0.7)  
    X = correlacion(tab_fusion,-1)
    y = tab_fusion[:,-1]
    
    # Separamos Train y Test respectivamente para X e y
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    
    return X_train, X_test, y_train, y_test

In [11]:
def iter_R2_Splitter_v3(tab1,tab2):    
    R2_global = list()
    for i in range(0,np.shape(imputador(tab2))[1]):
        ## Zeros
        X_train, X_test, y_train, y_test = splitter_v3(np.array(zeros(tab1)),np.array(zeros(tab2)),i)
        best_max_depth = Grid_Search_CV(X_train, y_train)
        R2_Original_GridSearchCV = DTR_v2(X_train, X_test, y_train, y_test,best_max_depth)

        ## Imputado
        X_train, X_test, y_train, y_test = splitter_v3(np.array(imputador(tab1)),np.array(imputador(tab2)),i)
        best_max_depth = Grid_Search_CV(X_train, y_train)
        R2_Imputado_GridSearchCV = DTR_v2(X_train, X_test, y_train, y_test,best_max_depth)

        # Recopilamos los R2
        R2_global.append([R2_Original_GridSearchCV,R2_Imputado_GridSearchCV])
    
    return pd.DataFrame(R2_global,columns=['Original','Imputado'])

In [12]:
def porcentaje(valor):
    x=0.0
    for i in np.array(valor):
        ## Calculamos el % de indicadores cuyo porcentaje de predicción es mayor a 90% (Original | Imputado)
        if (i[0] > 0.9 or i[1] > 0.9):
            x=x+1
    return x/len(valor)

In [13]:
def tabla_base(paises,years,indicadores,datos):
    tab = pd.DataFrame.pivot_table(datos, values='Value', index=['CountryName', 'Year'], columns=['IndicatorCode']).loc[(paises,years),indicadores].sortlevel(["CountryName","Year"], ascending=[True,False])
    return tab

In [14]:
def tabla_2_base(datos,indicadores,look_back):
    temp_table = []
    for k in range(look_back):
        temp_years = []
        for i in range(len(years)): 
            temp_years.append(years[i]-k)
        temp_table.append(pd.DataFrame.pivot_table(datos, values='Value', index=['CountryName', 'Year'], columns=['IndicatorCode']).loc[(paises,temp_years),indicadores].sortlevel(["CountryName","Year"], ascending=[True,False]))
    return pd.DataFrame(np.column_stack(temp_table))

In [15]:
def iterador_global(datos,paises,years,indicadores_1,indicadores_2):
    
    t_1 = tabla_base(paises,years,indicadores_1,datos)
    t_2 = tabla_base(paises,years,indicadores_2,datos)
    
    iterador = iter_R2_Splitter_v3(t_1,t_2)
    
    return iterador

## Calculamos Registros

Calculamos la cantidad de registros no nulos (Non-NaN) para cada conjunto de indicadores en base a los paises y años deseados

In [16]:
def registros(conjunto):   
    reg = []
    for i in range(len(conjunto)):
        reg.append(np.sum(tabla_base(paises,years,conjunto[i],datos).count(axis=1)))
    return reg

In [17]:
pd.DataFrame(registros(conjunto), index=conjunto_nombre)

                 0
Agricultura   5657
Economia     36739
Educacion    12678

In [18]:
for k in range(2):
    temp_years = []
    for i in range(len(years)): 
        temp_years.append(years[i]-k)
temp_years

[2007, 2008, 2009, 2010, 2011]

In [19]:
look_back = 3
year_init = 2012
year_range = 5
temp_years = []
for i in range(look_back):
    temp_years.append(range(year_init-year_range-i+1,year_init-i+1)[::-1])
temp_years[:]

[[2012, 2011, 2010, 2009, 2008],
 [2011, 2010, 2009, 2008, 2007],
 [2010, 2009, 2008, 2007, 2006]]

In [20]:
def tabla_2_base(datos,indicadores,look_back):
    temp_table = []
    for k in range(look_back):
        temp_years = []
        for i in range(len(years)): 
            temp_years.append(years[i]-k)
        temp_table.append(pd.DataFrame.pivot_table(datos, values='Value', index=['CountryName', 'Year'], columns=['IndicatorCode']).loc[(paises,temp_years),indicadores].sortlevel(["CountryName","Year"], ascending=[True,False]))
    return pd.DataFrame(np.column_stack(temp_table))

In [31]:
def tabla_2_base(datos,indicadores,look_back):
    temp_table = []
    for i in range(look_back):      
        temp_years = range(year_init-year_range-i+1,year_init-i+1)[::-1]
        temp_table.append(pd.DataFrame.pivot_table(datos, values='Value', index=['CountryName', 'Year'], columns=['IndicatorCode']).loc[(paises,temp_years),indicadores].sortlevel(["CountryName","Year"], ascending=[True,False]))
    return pd.DataFrame(np.column_stack(temp_table))

In [22]:
df4 = pd.DataFrame(datos).loc[:,['IndicatorName','IndicatorCode']].set_index('IndicatorCode').loc[agricultura].drop_duplicates().dropna()
print len(df4)
df4

44

                                                          IndicatorName
IndicatorCode
EG.ELC.ACCS.RU.ZS     Access to electricity, rural (% of rural popul...
EG.NSF.ACCS.RU.ZS     Access to non-solid fuel, rural (% of rural po...
AG.LND.IRIG.AG.ZS     Agricultural irrigated land (% of total agricu...
AG.LND.AGRI.ZS                       Agricultural land (% of land area)
AG.LND.AGRI.K2                               Agricultural land (sq. km)
AG.AGR.TRAC.NO                         Agricultural machinery, tractors
AG.LND.TRAC.ZS        Agricultural machinery, tractors per 100 sq. k...
EN.ATM.METH.AG.ZS           Agricultural methane emissions (% of total)
EN.ATM.METH.AG.KT.CE  Agricultural methane emissions (thousand metri...
EN.ATM.NOXE.AG.ZS     Agricultural nitrous oxide emissions (% of total)
EN.ATM.NOXE.AG.KT.CE  Agricultural nitrous oxide emissions (thousand...
TX.VAL.AGRI.ZS.UN     Agricultural raw materials exports (% of merch...
TM.VAL.AGRI.ZS.UN     Agricultural raw materials imports (% of merch...
EA.PRD.AGRI.KD        Agriculture value added per worker (constant 2...
NV.AGR.TOTL.ZS                      Agriculture, value added (% of GDP)
NV.AGR.TOTL.CD                   Agriculture, value added (current US$)
ER.H2O.FWAG.ZS        Annual freshwater withdrawals, agriculture (% ...
AG.LND.ARBL.ZS                             Arable land (% of land area)
AG.LND.ARBL.HA.PC                     Arable land (hectares per person)
AG.LND.ARBL.HA                                   Arable land (hectares)
AG.LND.PRCP.MM             Average precipitation in depth (mm per year)
AG.PRD.CREL.MT                          Cereal production (metric tons)
AG.YLD.CREL.KG                            Cereal yield (kg per hectare)
AG.PRD.CROP.XD                  Crop production index (2004-2006 = 100)
SL.AGR.EMPL.ZS        Employment in agriculture (% of total employment)
SL.AGR.EMPL.FE.ZS     Employment in agriculture, female (% of female...
SL.AGR.EMPL.MA.ZS     Employment in agriculture, male (% of male emp...
AG.CON.FERT.PT.ZS     Fertilizer consumption (% of fertilizer produc...
AG.CON.FERT.ZS        Fertilizer consumption (kilograms per hectare ...
AG.PRD.FOOD.XD                  Food production index (2004-2006 = 100)
AG.LND.FRST.ZS                             Forest area (% of land area)
AG.LND.FRST.K2                                     Forest area (sq. km)
SH.STA.ACSN.RU        Improved sanitation facilities, rural (% of ru...
SH.H2O.SAFE.RU.ZS     Improved water source, rural (% of rural popul...
AG.LND.TOTL.K2                                       Land area (sq. km)
AG.LND.CREL.HA                  Land under cereal production (hectares)
AG.PRD.LVSK.XD             Livestock production index (2004-2006 = 100)
AG.LND.CROP.ZS                      Permanent cropland (% of land area)
SP.RUR.TOTL                                            Rural population
SP.RUR.TOTL.ZS                 Rural population (% of total population)
SP.RUR.TOTL.ZG                       Rural population growth (annual %)
SI.POV.RUGP             Rural poverty gap at national poverty lines (%)
SI.POV.RUHC           Rural poverty headcount ratio at national pove...
AG.SRF.TOTL.K2                                    Surface area (sq. km)

In [23]:
tabla_2_base(datos,economia[84:87],2).head()

[2012, 2011, 2010, 2009, 2008]
[2011, 2010, 2009, 2008, 2007]

,0,1,2,3,4,5
0,3.252725e+09,1.204713e+09,1.033890e+09,3.050780e+09,1.129918e+09,9.939385e+08
1,3.050780e+09,1.129918e+09,9.939385e+08,3.065955e+09,1.135539e+09,1.012090e+09
2,3.065955e+09,1.135539e+09,1.012090e+09,3.257308e+09,1.206410e+09,1.089944e+09
3,3.257308e+09,1.206410e+09,1.089944e+09,3.637845e+09,1.347350e+09,1.239080e+09
4,3.637845e+09,1.347350e+09,1.239080e+09,3.480987e+09,1.289254e+09,1.238200e+09

In [24]:
def iterador_global_2(datos,paises,years,indicadores_1,indicadores_2,look_back):
    
    t_1 = tabla_2_base(datos,indicadores_1,look_back)
    t_2 = tabla_base(paises,years,indicadores_2,datos)
    
    iterador = iter_R2_Splitter_v3(t_1,t_2)
    
    return iterador

In [25]:
def iterador_global_3(datos,paises,years,indicadores_1,indicadores_2,look_back):
    
    t_1 = tabla_2_base(datos,indicadores_1,look_back)
    t_2 = tabla_base(paises,years,indicadores_2,datos)
    
    iterador = iter_R2_Splitter_v3(t_1,t_2)
    
    return iterador

## Combinamos el Primer Conjunto de Indicadores

Calculamos el % de indicadores cuyo porcentaje de predicción es mayor a 90% (Original | Imputado)

In [47]:
start_time = time.time()

resultado = []

for i in range(len(conjunto)):
    for j in range(1,look_back):
        resultado.append([conjunto_nombre[0],conjunto_nombre[i],porcentaje(iterador_global_2(datos,paises,years,conjunto[0],conjunto[i],j))])
    
print("--- %s seconds ---" % (time.time() - start_time))
pd.DataFrame(resultado, columns=["Base","Target","% > 90%"])

--- 865.131000042 seconds ---

          Base       Target   % > 90%
0  Agricultura  Agricultura  0.409091
1  Agricultura     Economia  0.420635
2  Agricultura    Educacion  0.137931

In [29]:
start_time = time.time()
resultado = []

for i in range(len(conjunto)):
    for j in range(1,look_back):
        resultado.append([conjunto_nombre[0],conjunto_nombre[i],j,porcentaje(iterador_global_2(datos,paises,years,conjunto[0],conjunto[i],j))])

df = pd.DataFrame(resultado, columns=["Base","Target","Look","Result"])
print("--- %s seconds ---" % (time.time() - start_time))
pd.DataFrame.pivot_table(df, index=["Base","Target"], columns=["Look"] )

[2012, 2011, 2010, 2009, 2008]

/home/ambigus9/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/ambigus9/anaconda2/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

[2012, 2011, 2010, 2009, 2008]
[2011, 2010, 2009, 2008, 2007]
[2012, 2011, 2010, 2009, 2008]
[2012, 2011, 2010, 2009, 2008]
[2011, 2010, 2009, 2008, 2007]
[2012, 2011, 2010, 2009, 2008]
[2012, 2011, 2010, 2009, 2008]
[2011, 2010, 2009, 2008, 2007]
--- 1558.73994493 seconds ---

                           Result
Look                            1         2
Base        Target
Agricultura Agricultura  0.568182  0.477273
            Economia     0.543651  0.456349
            Educacion    0.094828  0.103448

In [30]:
iterador_global_2(datos,paises,years,conjunto[0],conjunto[0],1)

[2012, 2011, 2010, 2009, 2008]

    Original  Imputado
0   0.282220  0.420847
1   0.311213  0.446862
2   0.151760 -0.025460
3   0.896926  0.500375
4   0.990514  0.880051
5  -0.025044  1.000000
6   1.000000 -0.060255
7   0.918108  0.562381
8   0.739472  0.919780
9   0.989774 -0.001318
10  0.369764  0.001497
11  0.894984  0.799933
12  0.538036  0.692574
13  0.729885  0.606757
14  0.821400  0.602622
15  0.768778  0.992153
16  0.427976  0.000000
17  0.718073  0.995756
18  0.846856  0.971022
19  0.999859  0.999462
20  0.482637 -0.022474
21 -0.642057  0.728582
22  0.908895  0.909053
23  0.765560  0.642838
24  0.879091  0.405248
25  0.479561  0.816903
26  0.603439  0.629740
27  0.889374  0.999696
28  0.575460  0.245981
29  0.665263  0.167114
30  0.992132  0.885496
31  0.781407  0.990316
32  0.557884  0.901962
33  0.990890  0.957186
34  0.824741  0.999495
35  0.957139  0.987322
36  0.942171  0.215727
37  0.994971  0.978969
38  0.900114  0.981721
39  0.649416  0.807725
40  0.522111  0.965931
41  0.997548  0.522071
42  0.846643 -0.109061
43  0.911134  0.766115

In [26]:
def porcentaje_2(valor):
    x=0.0
    for i in np.array(valor):
        ## Calculamos el % de indicadores cuyo porcentaje de predicción es mayor a 90% (Original | Imputado)
        if (i[0] > 0.9 or i[1] > 0.9):
            x=x+1
    return x/len(valor)

In [27]:
df2 = iterador_global_2(datos,paises,years,conjunto[0],conjunto[0],1)
porcentaje_2(df2)

[2012, 2011, 2010, 2009, 2008]

0.5909090909090909

In [28]:
df_temp = np.array(df2)
temp = []
for i in range(len(df_temp)):
    if (df_temp[i][0] > 0.9 or df_temp[i][1] > 0.9):
        print i,agricultura[i],df_temp[i]
        temp.append(agricultura[i])
print "Temp", len(temp)
temp

3 AG.LND.AGRI.ZS [ 0.97683599  0.90692466]
5 AG.AGR.TRAC.NO [ -1.25441252e+03   1.00000000e+00]
7 EN.ATM.METH.AG.ZS [ 0.95409075  0.78913024]
9 EN.ATM.NOXE.AG.ZS [ 0.94221768  0.54501005]
13 EA.PRD.AGRI.KD [ 0.85394412  0.9897062 ]
14 NV.AGR.TOTL.ZS [ 0.9361173   0.90369685]
15 NV.AGR.TOTL.CD [ 0.83218591  0.96018911]
17 AG.LND.ARBL.ZS [ 0.96398647  0.99567916]
18 AG.LND.ARBL.HA.PC [ 0.9882114   0.99276372]
19 AG.LND.ARBL.HA [ 0.99948888  0.83069509]
21 AG.PRD.CREL.MT [-0.0657061  0.9134043]
22 AG.YLD.CREL.KG [ 0.90657998  0.52807504]
23 AG.PRD.CROP.XD [ 0.92503624 -2.67900344]
26 SL.AGR.EMPL.MA.ZS [-0.47980234  0.92320574]
27 AG.CON.FERT.PT.ZS [ 0.98929026  0.67023175]
29 AG.PRD.FOOD.XD [ 0.9495774   0.58357568]
30 AG.LND.FRST.ZS [ 0.97719158  0.95194345]
31 AG.LND.FRST.K2 [ 0.98301263  0.98767814]
33 SH.H2O.SAFE.RU.ZS [ 0.99592853  0.95635097]
34 AG.LND.TOTL.K2 [ 0.97054162  0.98787982]
36 AG.PRD.LVSK.XD [ 0.92167391  0.59682392]
37 AG.LND.CROP.ZS [ 0.99874409  0.82364524]
38 AG.LND.TOTL.RU.K2 [ 0.503934    0.95734489]
40 AG.LND.EL5M.RU.K2 [ 0.99214617  0.94638741]
41 SP.RUR.TOTL [ 0.99323358  0.53554358]
43 SP.RUR.TOTL.ZG [ 0.95908876  0.84952948]
Temp 26

['AG.LND.AGRI.ZS',
 'AG.AGR.TRAC.NO',
 'EN.ATM.METH.AG.ZS',
 'EN.ATM.NOXE.AG.ZS',
 'EA.PRD.AGRI.KD',
 'NV.AGR.TOTL.ZS',
 'NV.AGR.TOTL.CD',
 'AG.LND.ARBL.ZS',
 'AG.LND.ARBL.HA.PC',
 'AG.LND.ARBL.HA',
 'AG.PRD.CREL.MT',
 'AG.YLD.CREL.KG',
 'AG.PRD.CROP.XD',
 'SL.AGR.EMPL.MA.ZS',
 'AG.CON.FERT.PT.ZS',
 'AG.PRD.FOOD.XD',
 'AG.LND.FRST.ZS',
 'AG.LND.FRST.K2',
 'SH.H2O.SAFE.RU.ZS',
 'AG.LND.TOTL.K2',
 'AG.PRD.LVSK.XD',
 'AG.LND.CROP.ZS',
 'AG.LND.TOTL.RU.K2',
 'AG.LND.EL5M.RU.K2',
 'SP.RUR.TOTL',
 'SP.RUR.TOTL.ZG']

In [29]:
df5 = pd.DataFrame(datos).loc[:,['IndicatorName','IndicatorCode']].set_index('IndicatorCode').loc[temp].drop_duplicates().dropna()
print len(df5)
df5

24

                                                       IndicatorName
IndicatorCode
AG.LND.AGRI.ZS                    Agricultural land (% of land area)
AG.AGR.TRAC.NO                      Agricultural machinery, tractors
EN.ATM.METH.AG.ZS        Agricultural methane emissions (% of total)
EN.ATM.NOXE.AG.ZS  Agricultural nitrous oxide emissions (% of total)
EA.PRD.AGRI.KD     Agriculture value added per worker (constant 2...
NV.AGR.TOTL.ZS                   Agriculture, value added (% of GDP)
NV.AGR.TOTL.CD                Agriculture, value added (current US$)
AG.LND.ARBL.ZS                          Arable land (% of land area)
AG.LND.ARBL.HA.PC                  Arable land (hectares per person)
AG.LND.ARBL.HA                                Arable land (hectares)
AG.PRD.CREL.MT                       Cereal production (metric tons)
AG.YLD.CREL.KG                         Cereal yield (kg per hectare)
AG.PRD.CROP.XD               Crop production index (2004-2006 = 100)
SL.AGR.EMPL.MA.ZS  Employment in agriculture, male (% of male emp...
AG.CON.FERT.PT.ZS  Fertilizer consumption (% of fertilizer produc...
AG.PRD.FOOD.XD               Food production index (2004-2006 = 100)
AG.LND.FRST.ZS                          Forest area (% of land area)
AG.LND.FRST.K2                                  Forest area (sq. km)
SH.H2O.SAFE.RU.ZS  Improved water source, rural (% of rural popul...
AG.LND.TOTL.K2                                    Land area (sq. km)
AG.PRD.LVSK.XD          Livestock production index (2004-2006 = 100)
AG.LND.CROP.ZS                   Permanent cropland (% of land area)
SP.RUR.TOTL                                         Rural population
SP.RUR.TOTL.ZG                    Rural population growth (annual %)

In [30]:
def nombres(df):
    df_temp = np.array(df)
    temp = []
    for i in range(len(df_temp)):
        if (df_temp[i][0] > 0.9 or df_temp[i][1] > 0.9):
            temp.append(agricultura[i])
    result = pd.DataFrame(datos).loc[:,['IndicatorName','IndicatorCode']].set_index('IndicatorCode').loc[temp].drop_duplicates().dropna()
    return result

In [56]:
df_temp = np.array(df2)
for i in range(len(df_temp)):
    if (df_temp[i][0] > 0.9 or df_temp[i][1] > 0.9):
        print i,df_temp[i]

3 [ 0.96281246  0.91801867]
4 [ 0.99827317  0.65932948]
6 [ 1.         -3.59909043]
7 [  9.39471582e-01  -1.95484881e-04]
9 [ 0.98683735  0.26590913]
13 [ 0.98494714  0.69165796]
14 [ 0.88493949  0.92810942]
15 [ 0.8210084   0.94981677]
17 [ 0.98302675  0.98733825]
18 [ 0.95734822  0.93283518]
19 [-0.48489297  0.9982522 ]
21 [ 0.99121756  0.98884023]
22 [ 0.95221988  0.7917433 ]
23 [ 0.90705123 -1.38426453]
29 [ 0.90189     0.82879217]
30 [ 0.99233193  0.98845614]
31 [ 0.99369678  0.9770651 ]
32 [ 0.94963199  0.94185564]
33 [ 0.98572866  0.89643787]
34 [ 0.93168476  0.98871748]
36 [ 0.88860662  0.90501043]
37 [ 0.99951929  0.51961514]
38 [ 0.90264167  0.46234765]
39 [ 0.93911052  0.95513802]
40 [ 0.80705849  0.9839297 ]
43 [ 0.99979056  0.72349134]

In [55]:
df2 = iterador_global_2(datos,paises,years,conjunto[0],conjunto[0],1)
porcentaje_2(df2)

[2012, 2011, 2010, 2009, 2008]

0.5909090909090909

In [31]:
df

          Base       Target  Look    Result
0  Agricultura  Agricultura     1  0.568182
1  Agricultura  Agricultura     2  0.477273
2  Agricultura     Economia     1  0.543651
3  Agricultura     Economia     2  0.456349
4  Agricultura    Educacion     1  0.094828
5  Agricultura    Educacion     2  0.103448

## Iteramos todas las Combinaciones Posibles de los Conjuntos de Indicadores datos

In [52]:
start_time = time.time()

resultado = []
for i in range(len(conjunto)):
    for j in range(len(conjunto)):
        resultado.append([conjunto_nombre[i],conjunto_nombre[j],porcentaje(iterador_global_2(datos,paises,years,conjunto[i],conjunto[j],look_back))])
        
print("--- %s seconds ---" % (time.time() - start_time))
pd.DataFrame(resultado, columns=["Base","Target","% > 90%"])

--- 5470.90799999 seconds ---

          Base       Target   % > 90%
0  Agricultura  Agricultura  0.522727
1  Agricultura     Economia  0.412698
2  Agricultura    Educacion  0.112069
3     Economia  Agricultura  0.113636
4     Economia     Economia  0.428571
5     Economia    Educacion  0.086207
6    Educacion  Agricultura  0.159091
7    Educacion     Economia  0.230159
8    Educacion    Educacion  0.284483