## Base

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

tabla = np.array(pd.read_csv("economia7.csv").drop('Unnamed: 0', 1))
pd.DataFrame(tabla).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,3.358406e+09,3.637845e+09,1.347350e+09,1.239080e+09,108.320559,0.071111,14517.635341,39348.639719,42622.666667,15786.172840,-1.046262,25735.714754,24723.111892,2.196543e+09,2.110118e+09
1,2.954188e+09,3.257308e+09,1.206410e+09,1.089944e+09,110.260684,-12.036015,12629.713786,34231.611819,37744.009270,13979.262693,-13.004332,22388.956865,21671.375749,1.932167e+09,1.870240e+09
2,2.743171e+09,3.065955e+09,1.135539e+09,1.012090e+09,111.766847,-7.142991,11602.142227,31446.478970,35146.738046,13017.310387,-8.136143,20567.359344,20151.309866,1.794152e+09,1.757859e+09
3,2.693974e+09,3.050780e+09,1.129918e+09,9.939385e+08,113.244595,-1.793436,11275.280156,30560.551094,34608.172248,12817.841573,-2.817256,19987.924139,19987.924139,1.761975e+09,1.761975e+09
4,2.802259e+09,3.252725e+09,1.204713e+09,1.033890e+09,116.075112,4.019542,11607.745344,31461.665675,36519.163794,13525.616220,2.948620,20577.292107,20946.700835,1.832799e+09,1.865702e+09

## Train Test Split

In [17]:
def splitter(tabla,y_indicator):
    from sklearn.model_selection import train_test_split
    # Asignamos X e y, eliminando la columna y en X
    X = np.delete(tabla[:,:], y_indicator, 1)
    y = tabla[:,y_indicator]
    # Separamos Train y Test respectivamente para X e y
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    return X_train, X_test, y_train, y_test

## Métricas de error
### R2 Score - Coeficiente de Determinación
El mejor valor posible es 1.0

In [18]:
from sklearn.metrics import r2_score
def r2(y_true, y_predict):
    return r2_score(y_true, y_predict)

## Decission Tree Regressor

In [19]:
def DTR(X_train, X_test, y_train, y_test):
    from sklearn.tree import DecisionTreeRegressor
    estimator = DecisionTreeRegressor()
    estimator.fit(X_train,y_train)
    y_predict = estimator.predict(X_test)
    print "R2 score:",r2(y_test,y_predict)
    return y_test,y_predict

In [29]:
X_train, X_test, y_train, y_test = splitter(tabla,0)
y_test , y_predict = DTR(X_train, X_test, y_train, y_test)
pd.DataFrame((zip(*[y_test,y_predict])), columns=['Test','Predict'])

R2 score: 0.990054374212

            Test       Predict
0   1.194000e+09  1.186000e+09
1   0.000000e+00  0.000000e+00
2   3.622828e+11  4.312730e+11
3   2.397010e+10  2.537280e+10
4   2.293781e+13  2.393386e+13
5   1.327940e+13  1.276388e+13
6   8.876500e+10  8.875900e+10
7   1.167544e+13  1.228246e+13
8   9.451700e+09  2.537280e+10
9   3.293180e+09  3.107000e+09
10  1.728102e+11  3.292114e+11
11  0.000000e+00  0.000000e+00
12  4.708800e+14  4.245990e+14
13  2.743171e+09  2.693974e+09
14  1.877684e+09  1.892045e+09
15  0.000000e+00  0.000000e+00
16  2.936394e+09  2.987686e+09
17  1.098000e+09  1.106000e+09
18  0.000000e+00  0.000000e+00
19  4.070520e+11  3.823800e+11
20  1.440700e+10  1.400300e+10
21  1.225686e+13  1.276388e+13
22  8.884200e+10  9.867000e+09
23  1.501002e+12  6.168902e+11
24  2.097588e+12  2.076283e+12
25  2.954188e+09  3.107000e+09
26  1.599415e+12  1.603198e+12
27  2.596031e+09  3.358406e+09
28  0.000000e+00  0.000000e+00
29  1.404200e+10  1.362200e+10
30  1.376383e+11  1.447016e+11
31  2.370095e+09  2.353310e+09
32  1.887333e+09  1.892045e+09
33  1.095000e+09  1.141000e+09
34  1.653842e+09  1.638262e+09
35  8.278150e+11  8.369980e+11
36  5.052072e+11  5.266457e+11
37  1.994738e+11  1.939096e+11
38  9.292100e+10  8.997800e+10
39  1.200000e+09  1.194000e+09
40  2.305390e+10  2.537280e+10

## Modificamos los valores nulos

In [20]:
def imputador(X):
    from sklearn.preprocessing import Imputer
    impute=Imputer(missing_values=0,strategy='mean',axis=0)
    impute.fit(X)
    X_imputado=impute.transform(X)
    return X_imputado

In [21]:
tabla_imputada = imputador(tabla)

In [22]:
X_train, X_test, y_train, y_test = splitter(tabla_imputada,0)
y_test , y_predict = DTR(X_train, X_test, y_train, y_test)
pd.DataFrame((zip(*[y_test,y_predict])), columns=['Test','Predict']).head()

R2 score: 0.999874807582

           Test       Predict
0  7.893019e+09  7.898250e+09
1  8.445081e+11  8.377910e+11
2  3.186370e+11  3.525840e+11
3  2.537280e+10  2.397010e+10
4  1.672962e+13  1.672962e+13

## Normalizamos los datos

In [23]:
def normalizar_datos(X):
    from sklearn.preprocessing import StandardScaler
    sc = StandardScaler()
    X_norm = sc.fit_transform(X)
    return X_norm

In [24]:
tabla_normalizada = normalizar_datos(tabla_imputada)

In [26]:
X_train, X_test, y_train, y_test = splitter(tabla_normalizada,0)
y_test , y_predict = DTR(X_train, X_test, y_train, y_test)
pd.DataFrame((zip(*[y_test,y_predict])), columns=['Test','Predict']).head()

R2 score: 0.999804160537

           Test       Predict
0 -2.469244e-01 -2.468445e-01
1 -2.345704e-01 -2.232004e-01
2 -2.423358e-01 -2.417016e-01
3 -2.466663e-01 -2.468445e-01
4 -2.884117e-17 -2.884117e-17