In [9]:
import pandas as pd
df = pd.read_csv("log_base.csv").drop(['Unnamed: 0'], 1)
df

,Base,Target,Look Back,%,Time,Results
0,Agricultura,Agricultura,1,0.409091,11.791788,[[ 0.74325725]\n [ 0.79926716]\n [ 0.45046969]...
1,Agricultura,Agricultura,2,0.340909,13.724960,[[ 0.18798186]\n [ 0.8745081 ]\n [ 0.76439098]...
2,Agricultura,Agricultura,3,0.477273,14.530033,[[ 0.81273866]\n [ 0.81429591]\n [ 0.49445208]...
3,Agricultura,Economia,1,0.448413,51.264270,[[ 0.97902901]\n [ 0.99908188]\n [ 0. ]...
4,Agricultura,Economia,2,0.365079,60.872732,[[ 0.95471827]\n [ 0.9923733 ]\n [ 0. ]...
5,Agricultura,Economia,3,0.365079,61.985511,[[ 0.99016569]\n [ 0.97183305]\n [ 0. ]...
6,Agricultura,Educacion,1,0.396552,26.167975,[[ 0.58794951]\n [ 0.64762848]\n [ 0.65169818]...
7,Agricultura,Educacion,2,0.224138,33.483272,[[ 0.61192231]\n [ 0.63351483]\n [ 0.53990549]...
8,Agricultura,Educacion,3,0.163793,37.041554,[[ 0.57865231]\n [ 0.36039847]\n [ 0.43060146]...
9,Agricultura,Salud,1,0.417323,27.895422,[[ 0.33624599]\n [ 0.96029207]\n [ 0.83076598]...
10,Agricultura,Salud,2,0.307087,35.255194,[[ 0. ]\n [ 0.94215681]\n [ 0.9385513 ]...
11,Agricultura,Salud,3,0.307087,36.220834,[[ 0. ]\n [ 0.945987 ]\n [ 0.94822028]...
12,Agricultura,Deuda,1,0.294643,54.583802,[[ 0. ]\n [ 0.44478536]\n [ 0.08735963]...
13,Agricultura,Deuda,2,0.232143,61.559030,[[ 0.15544776]\n [ 0.13318421]\n [ 0.52709892]...
14,Agricultura,Deuda,3,0.209821,66.410540,[[ 0.42915054]\n [ 0.249717 ]\n [ 0. ]...

In [10]:
pd.DataFrame.pivot_table(df, index=["Base","Target"], columns=["Look Back"] ).drop(['Time'], 1)

                                %
Look Back                       1         2         3
Base        Target
Agricultura Agricultura  0.409091  0.340909  0.477273
            Deuda        0.294643  0.232143  0.209821
            Economia     0.448413  0.365079  0.365079
            Educacion    0.396552  0.224138  0.163793
            Salud        0.417323  0.307087  0.307087