In [3]:
import pandas as pd
pd.read_csv("suramerica_absolute.csv").drop('Unnamed: 0', 1)

,Base,Target,Look Back,Reg,%,Time,Results
0,Agricultura,Agricultura,1,48,0.730632,13.242,[[ 0.68218177]\r\n [ 0.77749546]\r\n [ 0.32564...
1,Agricultura,Agricultura,2,48,0.729640,15.580,[[ 0.69240111]\r\n [ 0.90648317]\r\n [ 0.95836...
2,Agricultura,Agricultura,3,48,0.718340,18.663,[[ 0.50353636]\r\n [ 0.95615268]\r\n [ 0.23570...