In [2]:
import pandas as pd
df = pd.read_csv("log_base.csv").drop(['Unnamed: 0'], 1)
df

,Base,Target,Look Back,%,Time,Results
0,Agricultura,Agricultura,1,0.409091,11.018685,[[ 0.49817804]\n [ 0.99365119]\n [ 0.78749633]...
1,Agricultura,Agricultura,2,0.363636,13.865416,[[ 0.66867973]\n [ 0.81387818]\n [ 0.95313527]...
2,Agricultura,Agricultura,3,0.272727,15.932334,[[ 0.68890931]\n [ 0.53670791]\n [ 0.8132292 ]...
3,Agricultura,Economia,1,0.432000,52.420101,[[ 0.60651581]\n [ 0.95328972]\n [ 0.08451123]...
4,Agricultura,Economia,2,0.376000,59.800824,[[ 0.99992591]\n [ 0.3500027 ]\n [ 0. ]...

In [3]:
pd.DataFrame.pivot_table(df, index=["Base","Target"], columns=["Look Back"] ).drop(['Time'], 1)

                                %
Look Back                       1         2         3
Base        Target
Agricultura Agricultura  0.409091  0.363636  0.272727
            Economia     0.432000  0.376000       NaN