In [1]:
import pandas as pd
df = pd.read_csv("log_base.csv").drop(['Unnamed: 0'], 1)
df

,Base,Target,Look Back,Reg,%,Time,Results
0,Agricultura,Agricultura,1,48,0.522727,10.496309,[[ 0.41863092]\n [ 0.7267422 ]\n [ 0.88276302]...
1,Agricultura,Agricultura,2,48,0.409091,12.844478,[[ 0.61028163]\n [ 0.81063191]\n [ 0.7382497 ]...
2,Agricultura,Agricultura,3,48,0.295455,15.150052,[[ 0. ]\n [ 0.55537545]\n [ 0.75986119]...
3,Agricultura,Economia,1,258,0.392000,52.751182,[[ 0.70446402]\n [ 0.44736098]\n [ 0.09955836]...
4,Agricultura,Economia,2,258,0.360000,59.086964,[[ 0.96588275]\n [ 0.90913307]\n [ 0.33802653]...
5,Agricultura,Economia,3,258,0.336000,63.713478,[[ 0.94293916]\n [ 0.9118428 ]\n [ 0. ]...
6,Agricultura,Educacion,1,168,0.310345,29.601836,[[ 0.7715688 ]\n [ 0.597324 ]\n [ 0.68371081]...
7,Agricultura,Educacion,2,168,0.258621,32.997196,[[ 0.58244577]\n [ 0.45500787]\n [ 0.47141321]...
8,Agricultura,Educacion,3,168,0.137931,39.021215,[[ 0.60780187]\n [ 0.57928284]\n [ 0.81220072]...
9,Agricultura,Salud,1,150,0.328000,30.867928,[[ 0.1176272 ]\n [ 0.94494156]\n [ 0.8298626 ]...
10,Agricultura,Salud,2,150,0.320000,33.086961,[[ 0. ]\n [ 0.9231507 ]\n [ 0.99985885]...
11,Agricultura,Salud,3,150,0.288000,36.069486,[[ 0.36072763]\n [ 0.9127569 ]\n [ 0.52297825]...
12,Agricultura,Deuda,1,229,0.250000,59.459434,[[ 0.05378419]\n [ 0.04466811]\n [ 0.29228114]...
13,Agricultura,Deuda,2,229,0.223214,62.377397,[[ 0.18385039]\n [ 0.12053217]\n [ 0.53517023]...
14,Agricultura,Deuda,3,229,0.272321,63.458139,[[ 0.41538346]\n [ 0.0100311 ]\n [ 0.52756123]...

In [4]:
pd.DataFrame.pivot_table(df, index=["Base","Target","Reg"], columns=["Look Back"]).drop(['Time'],1)

                                    %
Look Back                           1         2         3
Base        Target      Reg
Agricultura Agricultura 48   0.522727  0.409091  0.295455
            Deuda       229  0.250000  0.223214  0.272321
            Economia    258  0.392000  0.360000  0.336000
            Educacion   168  0.310345  0.258621  0.137931
            Salud       150  0.328000  0.320000  0.288000