In [5]:
import pandas as pd
df = pd.read_csv("log_base.csv").drop(['Unnamed: 0'], 1)
df

,Base,Target,Look Back,%,Time,Results
0,Agricultura,Agricultura,1,0.500000,12.737070,[[ 0.7782579 ]\n [ 0.78853181]\n [ 0.83013824]...
1,Agricultura,Agricultura,2,0.363636,12.958399,[[ 0.76321688]\n [ 0.9172727 ]\n [ 0.54457783]...
2,Agricultura,Agricultura,3,0.363636,14.825542,[[ 0.51080599]\n [ 0.70252492]\n [ 0.27858688]...
3,Agricultura,Economia,1,0.452000,49.082329,[[ 0.93215651]\n [ 0.31291338]\n [ 0.21379398]...
4,Agricultura,Economia,2,0.336000,62.535423,[[ 0.42972368]\n [ 0.8534962 ]\n [ 0. ]...
5,Agricultura,Economia,3,0.316000,62.413488,[[ 0.3742215 ]\n [ 0.76655138]\n [ 0. ]...
6,Agricultura,Educacion,1,0.353448,27.720572,[[ 0.28921709]\n [ 0.410626 ]\n [ 0.66631671]...
7,Agricultura,Educacion,2,0.241379,33.685125,[[ 0.27217923]\n [ 0.29187647]\n [ 0.58044451]...
8,Agricultura,Educacion,3,0.224138,35.091233,[[ 0.41586049]\n [ 0.50517977]\n [ 0.62470204]...
9,Agricultura,Salud,1,0.336000,29.749672,[[ 0. ]\n [ 0.93478304]\n [ 0.99960607]...
10,Agricultura,Salud,2,0.304000,32.609921,[[ 0. ]\n [ 0.93139171]\n [ 0.99993041]...
11,Agricultura,Salud,3,0.328000,35.290560,[[ 0.04561803]\n [ 0.89756011]\n [ 0.50557767]...
12,Agricultura,Deuda,1,0.232143,57.895256,[[ 0. ]\n [ 0. ]\n [ 0.06477346]...
13,Agricultura,Deuda,2,0.241071,61.666314,[[ 0. ]\n [ 0.03951366]\n [ 0. ]...
14,Agricultura,Deuda,3,0.209821,66.170671,[[ 0.00000000e+00]\n [ 2.71151671e-01]\n [ ...

In [6]:
pd.DataFrame.pivot_table(df, index=["Base","Target"], columns=["Look Back"] ).drop(['Time'], 1)

                                %
Look Back                       1         2         3
Base        Target
Agricultura Agricultura  0.500000  0.363636  0.363636
            Deuda        0.232143  0.241071  0.209821
            Economia     0.452000  0.336000  0.316000
            Educacion    0.353448  0.241379  0.224138
            Salud        0.336000  0.304000  0.328000